#premier {
    display: flex;
    align-items: center; 
    gap: 30px;
    background-color: grey;;    
}

.textehaut {
    font-weight: bold;
    color:black;
}

#recherche {
    margin-left: auto;

}

#home {
    margin-left: 30px;
}

#bloom {
    display: block;    
    margin: 0 auto;
}

#p1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    }

.trait {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 20px 0;
    }

.traitpetit {
    width: 100%;       
    height: 1px;
    background-color: grey;
    margin-top: 10px;
}

.first {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.imagess {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 8px;
}


.bloc {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#paragraphe {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.présentation_1 {
    margin:0;
    padding:0;      
}


.savoir {
    color:blue;
    text-decoration: underline;
}

footer {
    background-color: grey;
    height: 70px;
    width: 100%;
    margin-top:40px;
}

.equipe {
    text-align: center;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#engagement {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#last {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.last {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 40px;
}