#premier {
    display: flex;
    align-items: center; 
    gap: 30px;
    background-color: grey;;    
}

.textehaut {
    font-weight: bold;
    color:black;
}

#recherche {
    margin-left: auto;

}

#home {
    margin-left: 30px;
}

#bloom {
    display: block;    
    margin: 0 auto;
}

#p1 {text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    }

#trait {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 20px 0;
    }

#first {
    display: flex;
    align-items: center; 
    gap: 30px;
}

.imagess {
    margin-top: 30px;
    width: 350px;
    height: 350px;
}