body {color:black;
    background-size:cover;
    background-image: url("https://laplateforme.io/wp-content/uploads/2024/02/JPO-Image-mise-en-avant-wordpress-2.png");    
    }
.Lien {color:blue;
    font-size: larger;
    }
li {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
ul {border:3px solid black;width: 300px;
    display: block;
    box-shadow: 5px 5px 10px black;
    border-radius:10px;
    }
h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-decoration: underline;
    }
.langages {font-style: italic;
    }
img {margin:30px;
    border: 3px solid black;
    }
footer { background-color: blue;
        border: 1px solid black;
        border-radius: 20px;
        color: white;
        text-align: center;
        }
.boxe {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 20px; 
}
