nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;
    background-color: grey;
    padding: 10px 20px;
    color: black;
    font-size: larger;
    border-radius: 50px;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

}

nav a:hover {
    color: orange; 
    background-color: blue;
}

.icone{
    height:100px;
    width:100px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border:3px solid black;
}
nav a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}
#recherche {
    margin-left: auto;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#shenron{
    width: 100px;
    height: 150px;
}